body {
    background-color: #25282f;
}



/* Sidebar */



.dash-main-sidebar {
    float: left;
    width: 15%;
    position:fixed;
    top:0;
    z-index:100;
}

.dash-main-sidebar > h2 {
    margin: 15px;
    text-align: center;
    color: #a5a8af;
    padding-top: 20px;
    border-bottom: 1px solid #a5a8af;
}

.dash-main-sidebar > ul {
    margin: 35px;
    list-style-type: none;
}

.dash-main-sidebar > ul > li {
    color: #a5a8af;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.dash-main-sidebar > ul > li > a{
    color: #a5a8af;
    text-decoration: none;
}

.dash-main-sidebar > ul > li > a:hover{
    color: white;
    transition: 200ms;
}



/* Sidebar Login */



.dash-main-sidebar-logged > h2{
    margin: 15px;
    text-align: center;
    color: #a5a8af;
    padding-top: 20px;
    border-bottom: 1px solid #a5a8af;
}

.dash-main-sidebar-logged > h2 > a{
    color: red;
    text-decoration: none;
}


/* Main */


/* Main Items */
.dash-main-container {
    width: 85%;
    float: right;
    margin: auto;
}

.dash-main-item {
    padding: 15px;
    margin: 15px;
    color: white;
    background-color: #33373E;
    border-radius: 8px;
}



/* Übersicht */



.thingie {
    width: 50%;
    height: 50px;
    float: left;
}

.thingie1 {
    margin-left: 15%;
    height: 50px;
}



/* Input Styles */



input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text],input[type=number], input[type=password], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #a5a8af;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #25282f;
    color: white;
}

textarea {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #a5a8af;
    border-radius: 4px;
    box-sizing: border-box;
    height: 200px;
    color: white;
    background-color: #25282f;
}